.form {
  max-width: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: #f9f9f9;
  padding: 25px;
  border-radius: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.form input,
.form textarea,
.form select {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form button {
  background-color: #ff6600;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form button:hover {
  background-color: #cc5200;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.success {
  color: green;
  font-weight: bold;
}

.error {
  color: red;
  font-weight: bold;
}

/* Estilo específico para input tipo datetime-local */
.datetimeInput {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
}

/* Estilo para el icono del calendario */
.datetimeInput::-webkit-calendar-picker-indicator {
  cursor: pointer;
  filter: invert(0.5);
}
